<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for("static", filename = "index.css")}}">
        <title>Great Numbers Game</title>
    </head>
    <body>
        <h1>The Great Numbers Game!!!</h1>
        <p>I am thinking of a number between 1 and 100 ({{ session ['target'] }})</p>
        <p>Take 5 guess only</p>
        <form action="/guess" method="post">
            <input type="number" name="guess">
            <input type="submit" value="guess">
        </form>
        {{ session['result'] }}
            {% if session['result'] == 'correct' %}
            <h2>Correct! {{session['target'] }} was the number!</h2>
            <form action='/reset'>
                <input type="submit" value="Play Again">
            </form>
            {% elif session['result'] == "low" %}
            <h3>Too small!</h3>
            {% elif session['result'] == 'high'%}
            <h3>Too high</h3>
            {% endif %}
    </body>
</html>
